<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="auth-form">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
    
        <div class="modal-content">
          <ng-content select="h3"></ng-content>
      
          <div class="row">

            <div class="col s12 m6">
              <label>Side Length : </label>
              <input
                type="number"
                placeholder="length"
                formControlName="length">
            </div>
        
            <div class="col s12 m6">
              <label>Map default zoom : </label>
              <input
                type="number"
                placeholder="zoom"
                formControlName="zoom">
            </div>

            <div class="col s12 m6">
              <label>Materialize Select</label>
              <select formControlName="type" materialize="material_select" [materializeSelectOptions]="selectOptions">
                <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
              </select>
            </div>

          </div>
      
          <div class="error" *ngIf="lengthInvalid">
            length value is required
          </div>

          <div class="error" *ngIf="lengthValueInvalid">
            length should be in between 10-100
          </div>
      
          <div class="error" *ngIf="zoomInvalid">
            zoom value is required
          </div>

          <div class="error" *ngIf="zoomValueInvalid">
            zoom should be in between 4-12
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</button>
          <button type="button" class="waves-effect waves-green btn-flat" (click)="clean()">Clear Setting</button>
          <ng-content select="button"></ng-content>
        </div>

      </form>
  </div>
</div>
