<div class="row" *ngIf="!isLoading; else loading;">

  <setting-form
    (submitted)="setting($event)"
    [lengthValue]="length"
    [zoomValue]="zoom"
    [mapType]="type"
    [modalActions]="modalActions">
    <h3>Setting</h3>
    <button class="waves-effect waves-green btn-flat" type="submit">
      OK
    </button>
  </setting-form>

  <div class="col s12 valign-wrapper">
    <div class="col s12">
      <span>Location Search: </span>
      <input 
        placeholder="search for location" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="off" 
        type="text" 
        class="form-control" 
        #search 
        [formControl]="searchControl">
    </div>
  </div>

  <div class="col s12">
    <agm-map 
      [latitude]="lat" 
      [longitude]="lng" 
      [mapTypeId]="type"
      [streetViewControl]="false"
      [scrollwheel]="false" 
      [zoom]="zoom"
      (mapReady)="setup($event)">

      <agm-marker
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [label]="marker.label"
        [markerDraggable]="marker.draggable"
        [visible]="marker.visible"
        (dragEnd)="markerDragEnd(marker, $event)">
      </agm-marker>

      <agm-polygon
        [paths]="selectedArea">
      </agm-polygon>

    </agm-map>
  </div>

  <div class="submit col s12">
    <button class="btn waves-effect waves-light black" (click)="openModal()">
      Setting
    </button>
    <button class="btn waves-effect waves-light black" (click)="onComfirm()">
      Generate
      <i class="material-icons right">send</i>
    </button>
  </div>

</div>

<ng-template #loading>
  <div class="message center-align">
    <h3>
      Loading~
    </h3> 
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
  </div>
</ng-template>

<div id="error" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="errorActions">
  <div class="modal-content">
    <h3>ERROR</h3>
    <hr>
    <div class="container">
      <p class="errorMessage">
        There are error occure on the data requested. Please try again later.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="waves-effect waves-green btn-flat" (click)="closeErrorMessage()">Close</button>
  </div>
</div>


