<div class="container">
  <h1>Angular 2 + Google Maps Places Autocomplete</h1>

  <div class="form-group">
    <input 
      placeholder="search for location" 
      autocorrect="off" 
      autocapitalize="off" 
      spellcheck="off" 
      type="text" 
      class="form-control" 
      #search 
      [formControl]="searchControl">
  </div>

  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [mapTypeId]="type"
    [scrollwheel]="false" 
    [zoom]="zoom"
    (mapReady)="setup($event)">

    <agm-marker
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [label]="marker.label"
      [markerDraggable]="marker.draggable"
      [visible]="marker.visible"
      (dragEnd)="markerDragEnd(marker, $event)">
    </agm-marker>

    <agm-polygon
      [paths]="selectedArea">
    </agm-polygon>

  </agm-map>

  <div>
    <h3>Elvetion at points: </h3>
    <p>{{ listOfP.length }}</p>
    <ul>
      <li *ngFor="let loc of listOfP;let i = index;">
        {{i}}: start lat = {{loc[0].lat()}}, lng = {{loc[0].lng()}} . end lat = {{loc[1].lat()}}, endlng = {{loc[1].lng()}}
      </li>
    </ul>
  </div>

  <!-- <geometry-cube></geometry-cube> -->

</div>