<div class="container">
  <h1>Angular 2 + Google map testing</h1>

  <div *ngIf="false">
    <div class="form-group">
      <input 
        placeholder="search for location" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="off" 
        type="text" 
        class="form-control" 
        #search 
        [formControl]="searchControl">
      <button (click)="onComfirm($event)">
        Comfirm
      </button>
    </div>

    <agm-map 
      [latitude]="lat" 
      [longitude]="lng" 
      [mapTypeId]="type"
      [scrollwheel]="false" 
      [zoom]="zoom"
      (mapReady)="setup($event)">

      <agm-marker
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [label]="marker.label"
        [markerDraggable]="marker.draggable"
        [visible]="marker.visible"
        (dragEnd)="markerDragEnd(marker, $event)">
      </agm-marker>

      <agm-polygon
        [paths]="selectedArea">
      </agm-polygon>

    </agm-map>

    <div>
      <h3>Elvetion at points: </h3>
      <p>{{ (eleData | async)?.length }}</p>
      <table>
        <tr>
          <th>Location number</th>
          <th>Lat</th> 
          <th>Lng</th>
          <th>Elevation</th>
        </tr>
        <tr *ngFor="let loc of eleData | async;let i = index;">
          <th>{{i}}</th>
          <th>{{ loc.location.lat() }}</th> 
          <th>{{ loc.location.lng() }}</th>
          <th>{{ loc.elevation }}</th>
          <th>{{ loc.resolution }}
        </tr>
      </table>
      <ul>
        <li *ngFor="let loc of listOfP ;let i = index;">
          Location {{i}}  lat: {{loc[0].lat()}} lng: {{loc[0].lng()}}
        </li>
      </ul>
    </div>
  </div>  

  <div *ngIf="true">
    <geometry-cube></geometry-cube>
  </div>

</div>